.logo-container{
    padding: 10px;
    padding-bottom: 0;
}

.logo {
    width: 30%;
    padding: 4%;
    padding-bottom: 0;
}

.container{
    width:370px;
    background-color:maroon;
    margin: auto auto;
    height:550px;
    border-radius: 15px;
    
}

.App{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
}

.display{
    width:310px;
    height: 60px;
    border-radius:35px;
    background-color: rgba(47, 45, 39, 1);
    margin: 10px 33.5px;
    color:whitesmoke; 
    text-align: center;
    
}


.specialButtons{
    background-color: rgba(50, 83, 149, 1);
    color: white;
    outline: none;
    border-radius: 200px;
    width: 20px;
    height: 20px;
    margin:10px 30px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);

    /* display:flex; */
    justify-content: center;
    align-content: center;
    width: 50px;
    /* margin-bottom: 20px; */
    position: relative;
    left: 15px;
}

.numberButtons{
    background-color: rgba(50, 83, 149, 1);
    color: white;
    outline: none;
    border-radius: 200px;
    width: 20px;
    height: 20px;
    margin:20px 30px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);

    /* display:flex; */
    justify-content: center;
    align-content: center;
    width: 50px;
    margin-bottom: 20px;
    position: relative;
    left: 15px;
}

.operatorButtons{
    background-color: rgba(50, 83, 149, 1);
    color: white;
    outline: none;
    border-radius: 200px;
    width: 20px;
    height: 20px;
    margin:10px 30px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);

    /* display:flex; */
    justify-content: center;
    align-content: center;
    width: 50px;
    margin-top: 20px;
    position: relative;
    left: 15px;
}